USE [AVS_DB]
GO
/****** Object:  Table [dbo].[Nationalities]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nationalities](
	[IdNat] [int] IDENTITY(1,1) NOT NULL,
	[Nationality] [varchar](100) NULL,
	[BitActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_acompanying_family]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_acompanying_family](
	[IdAcomp] [int] IDENTITY(1,1) NOT NULL,
	[IdFam] [int] NULL,
	[FullName] [varchar](100) NULL,
	[DateOfBirth] [varchar](10) NULL,
	[PassportNumber] [varchar](10) NULL,
	[Address] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAcomp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_avs_security_options]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_avs_security_options](
	[IdCon] [int] IDENTITY(1,1) NOT NULL,
	[Value] [varchar](max) NULL,
	[KeyAcc] [varchar](200) NULL,
	[BitActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_bank_family]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_bank_family](
	[IdBank] [int] IDENTITY(1,1) NOT NULL,
	[IdFam] [int] NULL,
	[NameBank] [varchar](50) NULL,
	[Branch] [varchar](10) NULL,
	[ACNumber] [varchar](50) NULL,
	[Address] [varchar](100) NULL,
	[VerifierDetails] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBank] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_cat_countries]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cat_countries](
	[IdCatCountry] [int] IDENTITY(1,1) NOT NULL,
	[Country] [varchar](100) NULL,
	[BitActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCatCountry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_cat_ports_in_out]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cat_ports_in_out](
	[IdPorts] [int] IDENTITY(1,1) NOT NULL,
	[DescPorts] [varchar](100) NULL,
	[BitActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPorts] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_cat_purpose_visited]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cat_purpose_visited](
	[IdPurpose] [int] IDENTITY(1,1) NOT NULL,
	[DescPurpose] [varchar](100) NULL,
	[BitActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPurpose] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_cat_types_visas]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cat_types_visas](
	[IdTypeVisa] [int] IDENTITY(1,1) NOT NULL,
	[TypeVisa] [varchar](100) NULL,
	[BitActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTypeVisa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_cat_types_visas_applied]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cat_types_visas_applied](
	[IdVisaAp] [int] IDENTITY(1,1) NOT NULL,
	[TypeVisa] [varchar](100) NULL,
	[BitActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVisaAp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_cat_visas_times]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cat_visas_times](
	[IdVisasTime] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](100) NULL,
	[BitActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVisasTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_childrens_familiy]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_childrens_familiy](
	[IdChild] [int] IDENTITY(1,1) NOT NULL,
	[IdFam] [int] NULL,
	[NameChild] [varchar](50) NULL,
	[DateOfBith] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdChild] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_conctactDetails]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_conctactDetails](
	[IdConctact] [int] IDENTITY(1,1) NOT NULL,
	[IdForm] [int] NULL,
	[IdCatCountry] [int] NULL,
	[TelHome] [varchar](20) NULL,
	[TelWork] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
	[BitSponsor] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdConctact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_convictions_travel]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_convictions_travel](
	[IdConviction] [int] IDENTITY(1,1) NOT NULL,
	[IdTravel] [int] NULL,
	[DateConvict] [varchar](10) NULL,
	[IdCatCountry] [int] NULL,
	[Offence] [varchar](100) NULL,
	[Sentence] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdConviction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_countries]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_countries](
	[IdCountry] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[DateOfEntry] [datetime] NULL,
	[BitActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCountry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_customersAVS]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_customersAVS](
	[IdCustomer] [int] IDENTITY(1,1) NOT NULL,
	[IdCountry] [int] NULL,
	[RegisteredMail] [varchar](100) NULL,
	[Pass] [varchar](200) NULL,
	[Seed] [varchar](100) NULL,
	[DateOfEntry] [datetime] NULL,
	[DateValidity] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_deported_travel]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_deported_travel](
	[IdDeport] [int] IDENTITY(1,1) NOT NULL,
	[IdTravel] [int] NULL,
	[DateDeport] [varchar](10) NULL,
	[IdCatCountry] [int] NULL,
	[Reason] [varchar](100) NULL,
	[ReferenceNum] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDeport] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_family_details]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_family_details](
	[IdFam] [int] IDENTITY(1,1) NOT NULL,
	[IdForm] [int] NULL,
	[NMother] [varchar](50) NULL,
	[NPather] [varchar](50) NULL,
	[IdNatMother] [int] NULL,
	[IdNatFather] [int] NULL,
	[SpouseName] [varchar](100) NULL,
	[IdNatSpouse] [int] NULL,
	[DateBirth] [varchar](10) NULL,
	[PlaceBirth] [varchar](100) NULL,
	[Profesion] [varchar](100) NULL,
	[BitChildrens] [bit] NULL,
	[BitAcompany] [bit] NULL,
	[BitAccountBank] [bit] NULL,
	[NameEmployerSpouse] [varchar](100) NULL,
	[AddressEmployerSpouse] [varchar](100) NULL,
	[TelEmployerSpouse] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_formularies]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_formularies](
	[IdForm] [int] IDENTITY(1,1) NOT NULL,
	[IdCountry] [int] NULL,
	[IdCustomer] [int] NULL,
	[IdStatus] [int] NULL,
	[DateOfEntry] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdForm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_passportDetails]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_passportDetails](
	[IdPassport] [int] IDENTITY(1,1) NOT NULL,
	[IdForm] [int] NULL,
	[IdTypePass] [int] NULL,
	[TravelDocs] [bit] NULL,
	[PassportNumber] [varchar](100) NULL,
	[PlaceOfIssue] [varchar](100) NULL,
	[DateOfIssue] [varchar](10) NULL,
	[DateOfExpiry] [varchar](10) NULL,
	[IssuingAuth] [varchar](100) NULL,
	[DateOfChange] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPassport] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_pastJobs]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_pastJobs](
	[IdpJob] [int] IDENTITY(1,1) NOT NULL,
	[IdForm] [int] NULL,
	[Designation] [varchar](100) NULL,
	[Depto] [varchar](100) NULL,
	[DateStart] [varchar](10) NULL,
	[DateFinish] [varchar](10) NULL,
	[Duties] [varchar](100) NULL,
	[Address] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[DescAddContr] [varchar](200) NULL,
	[BitApplyVisaThird] [bit] NULL,
	[Name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdpJob] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_personalData]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_personalData](
	[IdPD] [int] IDENTITY(1,1) NOT NULL,
	[IdForm] [int] NULL,
	[Name] [varchar](100) NULL,
	[MiddleName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[DateBirth] [varchar](10) NULL,
	[CityBirth] [varchar](100) NULL,
	[IdCatCountry] [int] NULL,
	[TypeSex] [bit] NULL,
	[BloodGroup] [varchar](50) NULL,
	[MaritalStatus] [bit] NULL,
	[IdMark] [varchar](50) NULL,
	[TypeNationality] [varchar](50) NULL,
	[DetailOfProfesion] [varchar](200) NULL,
	[Religion] [varchar](50) NULL,
	[DateOfChange] [datetime] NULL,
	[PVPakistan] [varchar](200) NULL,
	[IdPurpose] [int] NULL,
	[IdPortsIn] [int] NULL,
	[IdPortsOut] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_roles]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NameRol] [varchar](50) NULL,
	[BitActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_sponsors]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_sponsors](
	[IdSponsor] [int] IDENTITY(1,1) NOT NULL,
	[IdConctact] [int] NULL,
	[Name] [varchar](50) NULL,
	[Address] [varchar](100) NULL,
	[TelPhone] [varchar](20) NULL,
	[TelHome] [varchar](20) NULL,
	[TelWork] [varchar](20) NULL,
	[City] [varchar](100) NULL,
	[ZipCode] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSponsor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_status_forms]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_status_forms](
	[IdStatus] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL,
	[BitActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_travel_history]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_travel_history](
	[IdTravel] [int] IDENTITY(1,1) NOT NULL,
	[IdForm] [int] NULL,
	[BitVisPakistan] [bit] NULL,
	[BitVisCountries] [bit] NULL,
	[BitVisRefused] [bit] NULL,
	[BitRefusedPakistan] [bit] NULL,
	[DescRefused] [varchar](200) NULL,
	[DateTravel] [varchar](10) NULL,
	[Address] [varchar](100) NULL,
	[Purpose] [varchar](50) NULL,
	[Duration] [varchar](50) NULL,
	[BitRemoveCountry] [bit] NULL,
	[BitConviction] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTravel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_types_passports]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_types_passports](
	[IdTypePass] [int] IDENTITY(1,1) NOT NULL,
	[TypePass] [varchar](100) NULL,
	[BitActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTypePass] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Url_activation]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Url_activation](
	[IdUrl] [int] IDENTITY(1,1) NOT NULL,
	[IdCustomer] [int] NULL,
	[ValueUrl] [varchar](100) NULL,
	[Active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_users]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_users](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NULL,
	[Name] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[Age] [int] NULL,
	[KeyAccess] [varchar](100) NULL,
	[Seed] [varbinary](max) NULL,
	[Pass] [varbinary](max) NULL,
	[DateOfEntry] [datetime] NULL,
	[DateValidity] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_avs_security_options] ON 

INSERT [dbo].[tb_avs_security_options] ([IdCon], [Value], [KeyAcc], [BitActive]) VALUES (1, N'6ElVk6T2JxO+H42GD2sWrSL/lijEudh7Z1Bihp+OuDwg5yGYbFElwnuBUQrBsENPg552TBHn79aVLDzbNQuBSOquv1lv4Osmug0MpSb4iEY=', N'avsconnect', 1)
SET IDENTITY_INSERT [dbo].[tb_avs_security_options] OFF
SET IDENTITY_INSERT [dbo].[tb_cat_countries] ON 

INSERT [dbo].[tb_cat_countries] ([IdCatCountry], [Country], [BitActive]) VALUES (1, N'Afghanistan', 1)
INSERT [dbo].[tb_cat_countries] ([IdCatCountry], [Country], [BitActive]) VALUES (2, N'Albania', 1)
INSERT [dbo].[tb_cat_countries] ([IdCatCountry], [Country], [BitActive]) VALUES (3, N'Algeria', 1)
GO
SET IDENTITY_INSERT [dbo].[tb_cat_countries] OFF
SET IDENTITY_INSERT [dbo].[tb_cat_ports_in_out] ON 

INSERT [dbo].[tb_cat_ports_in_out] ([IdPorts], [DescPorts], [BitActive]) VALUES (1, N'Islamabad Airport', 1)
INSERT [dbo].[tb_cat_ports_in_out] ([IdPorts], [DescPorts], [BitActive]) VALUES (2, N'Lahore Airport', 1)
INSERT [dbo].[tb_cat_ports_in_out] ([IdPorts], [DescPorts], [BitActive]) VALUES (3, N'Peshawar Airport', 1)
SET IDENTITY_INSERT [dbo].[tb_cat_ports_in_out] OFF
SET IDENTITY_INSERT [dbo].[tb_cat_purpose_visited] ON 

INSERT [dbo].[tb_cat_purpose_visited] ([IdPurpose], [DescPurpose], [BitActive]) VALUES (1, N'Pilgrim Tourist', 1)
INSERT [dbo].[tb_cat_purpose_visited] ([IdPurpose], [DescPurpose], [BitActive]) VALUES (2, N'Deeni Madaris', 1)
INSERT [dbo].[tb_cat_purpose_visited] ([IdPurpose], [DescPurpose], [BitActive]) VALUES (3, N'Tourist/Visit', 1)
SET IDENTITY_INSERT [dbo].[tb_cat_purpose_visited] OFF
SET IDENTITY_INSERT [dbo].[tb_cat_types_visas] ON 

INSERT [dbo].[tb_cat_types_visas] ([IdTypeVisa], [TypeVisa], [BitActive]) VALUES (1, N'Single Entry', 1)
INSERT [dbo].[tb_cat_types_visas] ([IdTypeVisa], [TypeVisa], [BitActive]) VALUES (2, N'Double Entry', 1)
INSERT [dbo].[tb_cat_types_visas] ([IdTypeVisa], [TypeVisa], [BitActive]) VALUES (3, N'Multiple Entry', 1)
SET IDENTITY_INSERT [dbo].[tb_cat_types_visas] OFF
SET IDENTITY_INSERT [dbo].[tb_cat_types_visas_applied] ON 

INSERT [dbo].[tb_cat_types_visas_applied] ([IdVisaAp], [TypeVisa], [BitActive]) VALUES (1, N'Business', 1)
INSERT [dbo].[tb_cat_types_visas_applied] ([IdVisaAp], [TypeVisa], [BitActive]) VALUES (2, N'Tourist', 1)
INSERT [dbo].[tb_cat_types_visas_applied] ([IdVisaAp], [TypeVisa], [BitActive]) VALUES (3, N'Family', 1)
SET IDENTITY_INSERT [dbo].[tb_cat_types_visas_applied] OFF
SET IDENTITY_INSERT [dbo].[tb_cat_visas_times] ON 

INSERT [dbo].[tb_cat_visas_times] ([IdVisasTime], [Description], [BitActive]) VALUES (1, N'Less than 01 Month', 1)
INSERT [dbo].[tb_cat_visas_times] ([IdVisasTime], [Description], [BitActive]) VALUES (2, N'06 Month', 1)
INSERT [dbo].[tb_cat_visas_times] ([IdVisasTime], [Description], [BitActive]) VALUES (3, N'01 Year', 1)
SET IDENTITY_INSERT [dbo].[tb_cat_visas_times] OFF
SET IDENTITY_INSERT [dbo].[tb_countries] ON 

INSERT [dbo].[tb_countries] ([IdCountry], [Name], [DateOfEntry], [BitActive]) VALUES (1, N'Pakistan', CAST(N'2021-10-22T23:57:07.840' AS DateTime), 1)
INSERT [dbo].[tb_countries] ([IdCountry], [Name], [DateOfEntry], [BitActive]) VALUES (2, N'Cuba', CAST(N'2021-10-22T23:57:23.390' AS DateTime), 1)
INSERT [dbo].[tb_countries] ([IdCountry], [Name], [DateOfEntry], [BitActive]) VALUES (3, N'SouthKorea', CAST(N'2021-10-22T23:57:37.887' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[tb_countries] OFF
SET IDENTITY_INSERT [dbo].[tb_customersAVS] ON 

INSERT [dbo].[tb_customersAVS] ([IdCustomer], [IdCountry], [RegisteredMail], [Pass], [Seed], [DateOfEntry], [DateValidity]) VALUES (7, 1, N'emendozag31@gmail.com', N'GYSKKcF4wAwJglb+TuhmIw==', N'customerseed', CAST(N'2021-10-30T01:14:36.720' AS DateTime), CAST(N'2022-10-30T01:14:36.720' AS DateTime))
INSERT [dbo].[tb_customersAVS] ([IdCustomer], [IdCountry], [RegisteredMail], [Pass], [Seed], [DateOfEntry], [DateValidity]) VALUES (12, 2, N'auroradeluna@gmail.com', N'0Htds9bQ4YhaFrT81uElaw==', N'customerseed', CAST(N'2021-11-03T17:03:35.583' AS DateTime), CAST(N'2022-11-03T17:03:35.583' AS DateTime))
SET IDENTITY_INSERT [dbo].[tb_customersAVS] OFF
SET IDENTITY_INSERT [dbo].[tb_formularies] ON 

INSERT [dbo].[tb_formularies] ([IdForm], [IdCountry], [IdCustomer], [IdStatus], [DateOfEntry]) VALUES (6, 1, 7, 1, CAST(N'2021-10-30T01:14:36.720' AS DateTime))
INSERT [dbo].[tb_formularies] ([IdForm], [IdCountry], [IdCustomer], [IdStatus], [DateOfEntry]) VALUES (11, 2, 12, 1, CAST(N'2021-11-03T17:03:35.590' AS DateTime))
SET IDENTITY_INSERT [dbo].[tb_formularies] OFF
SET IDENTITY_INSERT [dbo].[tb_status_forms] ON 

INSERT [dbo].[tb_status_forms] ([IdStatus], [Description], [BitActive]) VALUES (1, N'PRE-CAPTURE', 1)
INSERT [dbo].[tb_status_forms] ([IdStatus], [Description], [BitActive]) VALUES (2, N'CAPTURED', 1)
INSERT [dbo].[tb_status_forms] ([IdStatus], [Description], [BitActive]) VALUES (3, N'CANCELED', 1)
SET IDENTITY_INSERT [dbo].[tb_status_forms] OFF
SET IDENTITY_INSERT [dbo].[tb_types_passports] ON 

INSERT [dbo].[tb_types_passports] ([IdTypePass], [TypePass], [BitActive]) VALUES (1, N'Diplomatic', 1)
INSERT [dbo].[tb_types_passports] ([IdTypePass], [TypePass], [BitActive]) VALUES (2, N'Official / Service', 1)
INSERT [dbo].[tb_types_passports] ([IdTypePass], [TypePass], [BitActive]) VALUES (3, N'Ordinary', 1)
SET IDENTITY_INSERT [dbo].[tb_types_passports] OFF
ALTER TABLE [dbo].[tb_acompanying_family]  WITH CHECK ADD FOREIGN KEY([IdFam])
REFERENCES [dbo].[tb_family_details] ([IdFam])
GO
ALTER TABLE [dbo].[tb_bank_family]  WITH CHECK ADD FOREIGN KEY([IdFam])
REFERENCES [dbo].[tb_family_details] ([IdFam])
GO
ALTER TABLE [dbo].[tb_childrens_familiy]  WITH CHECK ADD FOREIGN KEY([IdFam])
REFERENCES [dbo].[tb_family_details] ([IdFam])
GO
ALTER TABLE [dbo].[tb_conctactDetails]  WITH CHECK ADD FOREIGN KEY([IdForm])
REFERENCES [dbo].[tb_formularies] ([IdForm])
GO
ALTER TABLE [dbo].[tb_conctactDetails]  WITH CHECK ADD FOREIGN KEY([IdCatCountry])
REFERENCES [dbo].[tb_cat_countries] ([IdCatCountry])
GO
ALTER TABLE [dbo].[tb_convictions_travel]  WITH CHECK ADD FOREIGN KEY([IdCatCountry])
REFERENCES [dbo].[tb_cat_countries] ([IdCatCountry])
GO
ALTER TABLE [dbo].[tb_customersAVS]  WITH NOCHECK ADD FOREIGN KEY([IdCountry])
REFERENCES [dbo].[tb_countries] ([IdCountry])
GO
ALTER TABLE [dbo].[tb_deported_travel]  WITH CHECK ADD FOREIGN KEY([IdCatCountry])
REFERENCES [dbo].[tb_cat_countries] ([IdCatCountry])
GO
ALTER TABLE [dbo].[tb_family_details]  WITH CHECK ADD FOREIGN KEY([IdForm])
REFERENCES [dbo].[tb_formularies] ([IdForm])
GO
ALTER TABLE [dbo].[tb_formularies]  WITH CHECK ADD FOREIGN KEY([IdCountry])
REFERENCES [dbo].[tb_countries] ([IdCountry])
GO
ALTER TABLE [dbo].[tb_formularies]  WITH CHECK ADD FOREIGN KEY([IdCustomer])
REFERENCES [dbo].[tb_customersAVS] ([IdCustomer])
GO
ALTER TABLE [dbo].[tb_formularies]  WITH CHECK ADD FOREIGN KEY([IdStatus])
REFERENCES [dbo].[tb_status_forms] ([IdStatus])
GO
ALTER TABLE [dbo].[tb_passportDetails]  WITH CHECK ADD FOREIGN KEY([IdForm])
REFERENCES [dbo].[tb_formularies] ([IdForm])
GO
ALTER TABLE [dbo].[tb_pastJobs]  WITH CHECK ADD FOREIGN KEY([IdForm])
REFERENCES [dbo].[tb_formularies] ([IdForm])
GO
ALTER TABLE [dbo].[tb_personalData]  WITH CHECK ADD FOREIGN KEY([IdCatCountry])
REFERENCES [dbo].[tb_cat_countries] ([IdCatCountry])
GO
ALTER TABLE [dbo].[tb_personalData]  WITH CHECK ADD FOREIGN KEY([IdForm])
REFERENCES [dbo].[tb_formularies] ([IdForm])
GO
ALTER TABLE [dbo].[tb_sponsors]  WITH CHECK ADD FOREIGN KEY([IdConctact])
REFERENCES [dbo].[tb_conctactDetails] ([IdConctact])
GO
ALTER TABLE [dbo].[tb_travel_history]  WITH CHECK ADD FOREIGN KEY([IdForm])
REFERENCES [dbo].[tb_formularies] ([IdForm])
GO
ALTER TABLE [dbo].[tb_Url_activation]  WITH CHECK ADD FOREIGN KEY([IdCustomer])
REFERENCES [dbo].[tb_customersAVS] ([IdCustomer])
GO
ALTER TABLE [dbo].[tb_users]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[tb_roles] ([IdRol])
GO
/****** Object:  StoredProcedure [dbo].[sp_insertCustomer]    Script Date: 11/3/2021 7:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_insertCustomer] 
	@IdCountry	INT,
	@Mail		VARCHAR(100),
	@Pass		VARCHAR(200),
	@Msje		VARCHAR(100) OUT

AS
BEGIN
	
	DECLARE 
		@msjeOut VARCHAR(100)
		,@IdCustomer INT

	SET NOCOUNT ON;

	INSERT INTO tb_customersAVS
	(
		IdCountry
		,RegisteredMail
		,Pass
		,Seed
		,DateOfEntry
		,DateValidity
	)
	VALUES
	(
		@IdCountry
		,@Mail
		,@Pass
		,'customerseed'
		,GETDATE()
		,DATEADD(YEAR,1, GETDATE())
	)

SET @IdCustomer = @@IDENTITY
-- ---------------------------------------
-- Created form
-- ---------------------------------------
	INSERT INTO tb_formularies
	(
		IdCountry
		,IdCustomer
		,IdStatus
		,DateOfEntry
	)
	VALUES
	(
		@IdCountry
		,@IdCustomer
		,1 --PRE-CAPTURE
		,GETDATE()
	)

	IF(@@ROWCOUNT >	1)
		BEGIN
		
			SELECT @msjeOut = 'OK'
			SET @Msje = @msjeOut

		END--END IF


END

GO
