USE [AVS_DB]
GO
/****** Object:  Table [dbo].[Nationalities]    Script Date: 11/11/2021 12:02:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nationalities](
	[IdNat] [int] IDENTITY(1,1) NOT NULL,
	[Nationality] [varchar](100) NULL,
	[BitActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_acompanying_family]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_acompanying_family](
	[IdAcomp] [int] IDENTITY(1,1) NOT NULL,
	[IdFam] [int] NULL,
	[FullName] [varchar](100) NULL,
	[DateOfBirth] [varchar](10) NULL,
	[PassportNumber] [varchar](10) NULL,
	[Address] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAcomp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_avs_security_options]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_avs_security_options](
	[IdCon] [int] IDENTITY(1,1) NOT NULL,
	[Value] [varchar](max) NULL,
	[KeyAcc] [varchar](200) NULL,
	[BitActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_bank_family]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_bank_family](
	[IdBank] [int] IDENTITY(1,1) NOT NULL,
	[IdFam] [int] NULL,
	[NameBank] [varchar](50) NULL,
	[Branch] [varchar](10) NULL,
	[ACNumber] [varchar](50) NULL,
	[Address] [varchar](100) NULL,
	[VerifierDetails] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBank] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_cat_countries]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cat_countries](
	[IdCatCountry] [int] IDENTITY(1,1) NOT NULL,
	[Country] [varchar](100) NULL,
	[BitActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCatCountry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_cat_ports_in_out]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cat_ports_in_out](
	[IdPorts] [int] IDENTITY(1,1) NOT NULL,
	[DescPorts] [varchar](100) NULL,
	[BitActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPorts] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_cat_purpose_visited]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cat_purpose_visited](
	[IdPurpose] [int] IDENTITY(1,1) NOT NULL,
	[DescPurpose] [varchar](100) NULL,
	[BitActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPurpose] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_cat_types_visas]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cat_types_visas](
	[IdTypeVisa] [int] IDENTITY(1,1) NOT NULL,
	[TypeVisa] [varchar](100) NULL,
	[BitActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTypeVisa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_cat_types_visas_applied]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cat_types_visas_applied](
	[IdVisaAp] [int] IDENTITY(1,1) NOT NULL,
	[TypeVisa] [varchar](100) NULL,
	[BitActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVisaAp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_cat_visas_times]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cat_visas_times](
	[IdVisasTime] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](100) NULL,
	[BitActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVisasTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_childrens_familiy]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_childrens_familiy](
	[IdChild] [int] IDENTITY(1,1) NOT NULL,
	[IdFam] [int] NULL,
	[NameChild] [varchar](50) NULL,
	[DateOfBith] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdChild] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_conctactDetails]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_conctactDetails](
	[IdConctact] [int] IDENTITY(1,1) NOT NULL,
	[IdForm] [int] NULL,
	[IdCatCountry] [int] NULL,
	[TelHome] [varchar](20) NULL,
	[TelWork] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
	[BitSponsor] [bit] NULL,
	[TelCell] [varchar](20) NULL,
	[TelHomeB] [varchar](20) NULL,
	[TelWorkB] [varchar](20) NULL,
	[TelCellB] [varchar](20) NULL,
	[InPakistan] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdConctact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_convictions_travel]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_convictions_travel](
	[IdConviction] [int] IDENTITY(1,1) NOT NULL,
	[DateConvict] [varchar](10) NULL,
	[IdCatCountry] [int] NULL,
	[Offence] [varchar](100) NULL,
	[Sentence] [varchar](20) NULL,
	[IdForm] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdConviction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_countries]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_countries](
	[IdCountry] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[DateOfEntry] [datetime] NULL,
	[BitActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCountry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_cu_contact_details]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cu_contact_details](
	[IdCuContact] [int] IDENTITY(1,1) NOT NULL,
	[IdForm] [int] NULL,
	[FirstName] [varchar](50) NULL,
	[SurName] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[ZipCode] [varchar](10) NULL,
	[Town] [varchar](50) NULL,
	[EmailAddress] [varchar](50) NULL,
	[TelNumber] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCuContact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_cu_Summary]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cu_Summary](
	[IdSum] [int] IDENTITY(1,1) NOT NULL,
	[IdForm] [int] NULL,
	[Comments] [varchar](200) NULL,
	[BitReadSucc] [bit] NULL,
	[BitReadGTC] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_cu_trav_ship_det]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cu_trav_ship_det](
	[IdTravShip] [int] IDENTITY(1,1) NOT NULL,
	[IdForm] [int] NULL,
	[DateEntryCuba] [varchar](10) NULL,
	[DateDeparture] [varchar](20) NULL,
	[NumsAdults] [int] NULL,
	[NumsChildrens] [int] NULL,
	[PassportAdult] [varbinary](max) NULL,
	[PassportChildren] [varbinary](max) NULL,
	[BitShippDifferent] [bit] NULL,
	[BitPPCHF5] [bit] NULL,
	[BitRSCHF750] [bit] NULL,
	[BitESCHF22] [bit] NULL,
	[BitCourierNatInt] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTravShip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_customersAVS]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_customersAVS](
	[IdCustomer] [int] IDENTITY(1,1) NOT NULL,
	[IdCountry] [int] NULL,
	[RegisteredMail] [varchar](100) NULL,
	[Pass] [varchar](200) NULL,
	[Seed] [varchar](100) NULL,
	[DateOfEntry] [datetime] NULL,
	[DateValidity] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_deported_travel]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_deported_travel](
	[IdDeport] [int] IDENTITY(1,1) NOT NULL,
	[DateDeport] [varchar](10) NULL,
	[IdCatCountry] [int] NULL,
	[Reason] [varchar](100) NULL,
	[ReferenceNum] [varchar](20) NULL,
	[IdForm] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDeport] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_family_details]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_family_details](
	[IdFam] [int] IDENTITY(1,1) NOT NULL,
	[IdForm] [int] NULL,
	[NMother] [varchar](50) NULL,
	[NPather] [varchar](50) NULL,
	[IdNatMother] [int] NULL,
	[IdNatFather] [int] NULL,
	[SpouseName] [varchar](100) NULL,
	[IdNatSpouse] [int] NULL,
	[DateBirth] [varchar](10) NULL,
	[PlaceBirth] [varchar](100) NULL,
	[Profesion] [varchar](100) NULL,
	[BitChildrens] [bit] NULL,
	[BitAcompany] [bit] NULL,
	[BitAccountBank] [bit] NULL,
	[NameEmployerSpouse] [varchar](100) NULL,
	[AddressEmployerSpouse] [varchar](100) NULL,
	[TelEmployerSpouse] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_formularies]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_formularies](
	[IdForm] [int] IDENTITY(1,1) NOT NULL,
	[IdCountry] [int] NULL,
	[IdCustomer] [int] NULL,
	[IdStatus] [int] NULL,
	[DateOfEntry] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdForm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_passportDetails]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_passportDetails](
	[IdPassport] [int] IDENTITY(1,1) NOT NULL,
	[IdForm] [int] NULL,
	[IdTypePass] [int] NULL,
	[TravelDocs] [bit] NULL,
	[PassportNumber] [varchar](100) NULL,
	[PlaceOfIssue] [varchar](100) NULL,
	[DateOfIssue] [varchar](10) NULL,
	[DateOfExpiry] [varchar](10) NULL,
	[IssuingAuth] [varchar](100) NULL,
	[DateOfChange] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPassport] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_pastJobs]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_pastJobs](
	[IdpJob] [int] IDENTITY(1,1) NOT NULL,
	[IdForm] [int] NULL,
	[Designation] [varchar](100) NULL,
	[Depto] [varchar](100) NULL,
	[DateStart] [varchar](10) NULL,
	[DateFinish] [varchar](10) NULL,
	[Duties] [varchar](100) NULL,
	[Address] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[DescAddContr] [varchar](200) NULL,
	[BitApplyVisaThird] [bit] NULL,
	[Name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdpJob] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_personalData]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_personalData](
	[IdPD] [int] IDENTITY(1,1) NOT NULL,
	[IdForm] [int] NULL,
	[Name] [varchar](100) NULL,
	[MiddleName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[DateBirth] [varchar](10) NULL,
	[CityBirth] [varchar](100) NULL,
	[IdCatCountry] [int] NULL,
	[TypeSex] [bit] NULL,
	[BloodGroup] [varchar](50) NULL,
	[MaritalStatus] [bit] NULL,
	[IdMark] [varchar](50) NULL,
	[DetailOfProfesion] [varchar](200) NULL,
	[Religion] [varchar](50) NULL,
	[DateOfChange] [datetime] NULL,
	[PVPakistan] [varchar](200) NULL,
	[IdPurpose] [int] NULL,
	[IdPortsIn] [int] NULL,
	[IdPortsOut] [int] NULL,
	[IdVisaAp] [int] NULL,
	[DurationStay] [varchar](100) NULL,
	[IdVisasTime] [int] NULL,
	[IdTypeVisa] [int] NULL,
	[NativeLanguage] [varchar](50) NULL,
	[NationPresent] [varchar](50) NULL,
	[NationPrevious] [varchar](50) NULL,
	[NationDual] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_roles]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NameRol] [varchar](50) NULL,
	[BitActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_sponsors]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_sponsors](
	[IdSponsor] [int] IDENTITY(1,1) NOT NULL,
	[IdConctact] [int] NULL,
	[Name] [varchar](50) NULL,
	[Address] [varchar](100) NULL,
	[TelHome] [varchar](20) NULL,
	[TelWork] [varchar](20) NULL,
	[City] [varchar](100) NULL,
	[ZipCode] [varchar](100) NULL,
	[TelCell] [varchar](20) NULL,
	[CodReg] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSponsor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_status_forms]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_status_forms](
	[IdStatus] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL,
	[BitActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_travel_his_visited_pk]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_travel_his_visited_pk](
	[IdTravelDetail] [int] IDENTITY(1,1) NOT NULL,
	[IdForm] [int] NULL,
	[DateTravel] [varchar](10) NULL,
	[Address] [varchar](100) NULL,
	[Purpose] [varchar](100) NULL,
	[Duration] [varchar](100) NULL,
	[BitVisPakistan] [bit] NULL,
	[BitVisCountries] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTravelDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_travel_history]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_travel_history](
	[IdTravel] [int] IDENTITY(1,1) NOT NULL,
	[IdForm] [int] NULL,
	[BitVisPakistan] [bit] NULL,
	[BitVisCountries] [bit] NULL,
	[BitVisRefused] [bit] NULL,
	[BitRefusedPakistan] [bit] NULL,
	[DescRefused] [varchar](200) NULL,
	[DateTravel] [varchar](10) NULL,
	[Address] [varchar](100) NULL,
	[Purpose] [varchar](50) NULL,
	[Duration] [varchar](50) NULL,
	[BitRemoveCountry] [bit] NULL,
	[BitConviction] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTravel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_travel_history_data]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_travel_history_data](
	[IdTravel] [int] IDENTITY(1,1) NOT NULL,
	[IdForm] [int] NULL,
	[BitRefused] [bit] NULL,
	[BitRefusedPakistan] [bit] NULL,
	[BitRemoveCountry] [bit] NULL,
	[BitConviction] [bit] NULL,
	[DetailRefusal] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTravel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_types_passports]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_types_passports](
	[IdTypePass] [int] IDENTITY(1,1) NOT NULL,
	[TypePass] [varchar](100) NULL,
	[BitActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTypePass] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Url_activation]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Url_activation](
	[IdUrl] [int] IDENTITY(1,1) NOT NULL,
	[IdCustomer] [int] NULL,
	[ValueUrl] [varchar](100) NULL,
	[Active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_users]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_users](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NULL,
	[Name] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[Age] [int] NULL,
	[KeyAccess] [varchar](100) NULL,
	[Seed] [varbinary](max) NULL,
	[Pass] [varbinary](max) NULL,
	[DateOfEntry] [datetime] NULL,
	[DateValidity] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_acompanying_family] ON 

INSERT [dbo].[tb_acompanying_family] ([IdAcomp], [IdFam], [FullName], [DateOfBirth], [PassportNumber], [Address]) VALUES (3, 1, N'ERICK', N'26/05/1990', N'00000303', N'Long Beach')
INSERT [dbo].[tb_acompanying_family] ([IdAcomp], [IdFam], [FullName], [DateOfBirth], [PassportNumber], [Address]) VALUES (4, 1, N'AURORA', N'27/11/1989', N'00002020', N'Lon B')
SET IDENTITY_INSERT [dbo].[tb_acompanying_family] OFF
SET IDENTITY_INSERT [dbo].[tb_avs_security_options] ON 

INSERT [dbo].[tb_avs_security_options] ([IdCon], [Value], [KeyAcc], [BitActive]) VALUES (1, N'6ElVk6T2JxO+H42GD2sWrSL/lijEudh7Z1Bihp+OuDwg5yGYbFElwnuBUQrBsENPg552TBHn79aVLDzbNQuBSOquv1lv4Osmug0MpSb4iEY=', N'avsconnect', 1)
SET IDENTITY_INSERT [dbo].[tb_avs_security_options] OFF
SET IDENTITY_INSERT [dbo].[tb_bank_family] ON 

INSERT [dbo].[tb_bank_family] ([IdBank], [IdFam], [NameBank], [Branch], [ACNumber], [Address], [VerifierDetails]) VALUES (2, 1, N'BBVA ', N'Brancher', N'81736362', N'Boulevard 40', N'vssdal-djsja-djsj')
SET IDENTITY_INSERT [dbo].[tb_bank_family] OFF
SET IDENTITY_INSERT [dbo].[tb_cat_countries] ON 

INSERT [dbo].[tb_cat_countries] ([IdCatCountry], [Country], [BitActive]) VALUES (1, N'Afghanistan', 1)
INSERT [dbo].[tb_cat_countries] ([IdCatCountry], [Country], [BitActive]) VALUES (2, N'Albania', 1)
INSERT [dbo].[tb_cat_countries] ([IdCatCountry], [Country], [BitActive]) VALUES (3, N'Algeria', 1)
GO
SET IDENTITY_INSERT [dbo].[tb_cat_countries] OFF
SET IDENTITY_INSERT [dbo].[tb_cat_ports_in_out] ON 

INSERT [dbo].[tb_cat_ports_in_out] ([IdPorts], [DescPorts], [BitActive]) VALUES (1, N'Islamabad Airport', 1)
INSERT [dbo].[tb_cat_ports_in_out] ([IdPorts], [DescPorts], [BitActive]) VALUES (2, N'Lahore Airport', 1)
INSERT [dbo].[tb_cat_ports_in_out] ([IdPorts], [DescPorts], [BitActive]) VALUES (3, N'Peshawar Airport', 1)
SET IDENTITY_INSERT [dbo].[tb_cat_ports_in_out] OFF
SET IDENTITY_INSERT [dbo].[tb_cat_purpose_visited] ON 

INSERT [dbo].[tb_cat_purpose_visited] ([IdPurpose], [DescPurpose], [BitActive]) VALUES (1, N'Pilgrim Tourist', 1)
INSERT [dbo].[tb_cat_purpose_visited] ([IdPurpose], [DescPurpose], [BitActive]) VALUES (2, N'Deeni Madaris', 1)
INSERT [dbo].[tb_cat_purpose_visited] ([IdPurpose], [DescPurpose], [BitActive]) VALUES (3, N'Tourist/Visit', 1)
SET IDENTITY_INSERT [dbo].[tb_cat_purpose_visited] OFF
SET IDENTITY_INSERT [dbo].[tb_cat_types_visas] ON 

INSERT [dbo].[tb_cat_types_visas] ([IdTypeVisa], [TypeVisa], [BitActive]) VALUES (1, N'Single Entry', 1)
INSERT [dbo].[tb_cat_types_visas] ([IdTypeVisa], [TypeVisa], [BitActive]) VALUES (2, N'Double Entry', 1)
INSERT [dbo].[tb_cat_types_visas] ([IdTypeVisa], [TypeVisa], [BitActive]) VALUES (3, N'Multiple Entry', 1)
SET IDENTITY_INSERT [dbo].[tb_cat_types_visas] OFF
SET IDENTITY_INSERT [dbo].[tb_cat_types_visas_applied] ON 

INSERT [dbo].[tb_cat_types_visas_applied] ([IdVisaAp], [TypeVisa], [BitActive]) VALUES (1, N'Business', 1)
INSERT [dbo].[tb_cat_types_visas_applied] ([IdVisaAp], [TypeVisa], [BitActive]) VALUES (2, N'Tourist', 1)
INSERT [dbo].[tb_cat_types_visas_applied] ([IdVisaAp], [TypeVisa], [BitActive]) VALUES (3, N'Family', 1)
SET IDENTITY_INSERT [dbo].[tb_cat_types_visas_applied] OFF
SET IDENTITY_INSERT [dbo].[tb_cat_visas_times] ON 

INSERT [dbo].[tb_cat_visas_times] ([IdVisasTime], [Description], [BitActive]) VALUES (1, N'Less than 01 Month', 1)
INSERT [dbo].[tb_cat_visas_times] ([IdVisasTime], [Description], [BitActive]) VALUES (2, N'06 Month', 1)
INSERT [dbo].[tb_cat_visas_times] ([IdVisasTime], [Description], [BitActive]) VALUES (3, N'01 Year', 1)
SET IDENTITY_INSERT [dbo].[tb_cat_visas_times] OFF
SET IDENTITY_INSERT [dbo].[tb_childrens_familiy] ON 

INSERT [dbo].[tb_childrens_familiy] ([IdChild], [IdFam], [NameChild], [DateOfBith]) VALUES (1, 1, N'PAULA', N'02/01/2016')
INSERT [dbo].[tb_childrens_familiy] ([IdChild], [IdFam], [NameChild], [DateOfBith]) VALUES (2, 1, N'IVANNA', N'26/04/2020')
INSERT [dbo].[tb_childrens_familiy] ([IdChild], [IdFam], [NameChild], [DateOfBith]) VALUES (3, 1, N'PAULA', N'02/01/2016')
SET IDENTITY_INSERT [dbo].[tb_childrens_familiy] OFF
SET IDENTITY_INSERT [dbo].[tb_conctactDetails] ON 

INSERT [dbo].[tb_conctactDetails] ([IdConctact], [IdForm], [IdCatCountry], [TelHome], [TelWork], [Email], [BitSponsor], [TelCell], [TelHomeB], [TelWorkB], [TelCellB], [InPakistan]) VALUES (1, 6, 119, N'8123888181', N'8123888130', N'e.mendoza@acsoltec.com', 1, N'8123888140', N'8123888150', N'8123888160', N'8123888170', N'YES ONLY THAT')
SET IDENTITY_INSERT [dbo].[tb_conctactDetails] OFF
SET IDENTITY_INSERT [dbo].[tb_convictions_travel] ON 

INSERT [dbo].[tb_convictions_travel] ([IdConviction], [DateConvict], [IdCatCountry], [Offence], [Sentence], [IdForm]) VALUES (1, N'30/09/21', 90, N'DFS', N'SALE', 6)
SET IDENTITY_INSERT [dbo].[tb_convictions_travel] OFF
SET IDENTITY_INSERT [dbo].[tb_countries] ON 

INSERT [dbo].[tb_countries] ([IdCountry], [Name], [DateOfEntry], [BitActive]) VALUES (1, N'Pakistan', CAST(N'2021-10-22T23:57:07.840' AS DateTime), 1)
INSERT [dbo].[tb_countries] ([IdCountry], [Name], [DateOfEntry], [BitActive]) VALUES (2, N'Cuba', CAST(N'2021-10-22T23:57:23.390' AS DateTime), 1)
INSERT [dbo].[tb_countries] ([IdCountry], [Name], [DateOfEntry], [BitActive]) VALUES (3, N'SouthKorea', CAST(N'2021-10-22T23:57:37.887' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[tb_countries] OFF
SET IDENTITY_INSERT [dbo].[tb_cu_contact_details] ON 

INSERT [dbo].[tb_cu_contact_details] ([IdCuContact], [IdForm], [FirstName], [SurName], [Address], [ZipCode], [Town], [EmailAddress], [TelNumber]) VALUES (1, 11, N'F NAME TEST', N'SUR NAME TEST', N'Long Beach 212', N'38383', N'Florida', N'aurora@gmail.com', N'8123456743')
INSERT [dbo].[tb_cu_contact_details] ([IdCuContact], [IdForm], [FirstName], [SurName], [Address], [ZipCode], [Town], [EmailAddress], [TelNumber]) VALUES (2, 12, N'tester', N'test', N'streer 10', N'3847', N'mty', N'tester@acsoltec.com', N'8124896745')
SET IDENTITY_INSERT [dbo].[tb_cu_contact_details] OFF
SET IDENTITY_INSERT [dbo].[tb_cu_Summary] ON 

INSERT [dbo].[tb_cu_Summary] ([IdSum], [IdForm], [Comments], [BitReadSucc], [BitReadGTC]) VALUES (1, 11, N'i am fine, it''s ok', 1, 0)
SET IDENTITY_INSERT [dbo].[tb_cu_Summary] OFF
SET IDENTITY_INSERT [dbo].[tb_cu_trav_ship_det] ON 

INSERT [dbo].[tb_cu_trav_ship_det] ([IdTravShip], [IdForm], [DateEntryCuba], [DateDeparture], [NumsAdults], [NumsChildrens], [PassportAdult], [PassportChildren], [BitShippDifferent], [BitPPCHF5], [BitRSCHF750], [BitESCHF22], [BitCourierNatInt]) VALUES (1, 11, N'12/11/21', N'31/12/21', 2, 0, NULL, NULL, 0, 0, 0, 1, 0)
SET IDENTITY_INSERT [dbo].[tb_cu_trav_ship_det] OFF
SET IDENTITY_INSERT [dbo].[tb_customersAVS] ON 

INSERT [dbo].[tb_customersAVS] ([IdCustomer], [IdCountry], [RegisteredMail], [Pass], [Seed], [DateOfEntry], [DateValidity]) VALUES (7, 1, N'emendozag31@gmail.com', N'GYSKKcF4wAwJglb+TuhmIw==', N'customerseed', CAST(N'2021-10-30T01:14:36.720' AS DateTime), CAST(N'2022-10-30T01:14:36.720' AS DateTime))
INSERT [dbo].[tb_customersAVS] ([IdCustomer], [IdCountry], [RegisteredMail], [Pass], [Seed], [DateOfEntry], [DateValidity]) VALUES (12, 2, N'auroradeluna@gmail.com', N'0Htds9bQ4YhaFrT81uElaw==', N'customerseed', CAST(N'2021-11-03T17:03:35.583' AS DateTime), CAST(N'2022-11-03T17:03:35.583' AS DateTime))
INSERT [dbo].[tb_customersAVS] ([IdCustomer], [IdCountry], [RegisteredMail], [Pass], [Seed], [DateOfEntry], [DateValidity]) VALUES (13, 2, N'test@test.com', N'GYSKKcF4wAwJglb+TuhmIw==', N'customerseed', CAST(N'2021-11-10T23:55:52.457' AS DateTime), CAST(N'2022-11-10T23:55:52.457' AS DateTime))
SET IDENTITY_INSERT [dbo].[tb_customersAVS] OFF
SET IDENTITY_INSERT [dbo].[tb_deported_travel] ON 

INSERT [dbo].[tb_deported_travel] ([IdDeport], [DateDeport], [IdCatCountry], [Reason], [ReferenceNum], [IdForm]) VALUES (1, N'10/11/21', 134, N'NOT APPLY', N'00203', 6)
SET IDENTITY_INSERT [dbo].[tb_deported_travel] OFF
SET IDENTITY_INSERT [dbo].[tb_family_details] ON 

INSERT [dbo].[tb_family_details] ([IdFam], [IdForm], [NMother], [NPather], [IdNatMother], [IdNatFather], [SpouseName], [IdNatSpouse], [DateBirth], [PlaceBirth], [Profesion], [BitChildrens], [BitAcompany], [BitAccountBank], [NameEmployerSpouse], [AddressEmployerSpouse], [TelEmployerSpouse]) VALUES (1, 6, N'MOTHER TEST', N'FATHER TEST', 119, 119, N'SPOSE TEST', 119, N'27/11/89', N'MONTERREY', N'CONTADORA', 1, 1, NULL, N'', N'', N'')
SET IDENTITY_INSERT [dbo].[tb_family_details] OFF
SET IDENTITY_INSERT [dbo].[tb_formularies] ON 

INSERT [dbo].[tb_formularies] ([IdForm], [IdCountry], [IdCustomer], [IdStatus], [DateOfEntry]) VALUES (6, 1, 7, 1, CAST(N'2021-10-30T01:14:36.720' AS DateTime))
INSERT [dbo].[tb_formularies] ([IdForm], [IdCountry], [IdCustomer], [IdStatus], [DateOfEntry]) VALUES (11, 2, 12, 1, CAST(N'2021-11-03T17:03:35.590' AS DateTime))
INSERT [dbo].[tb_formularies] ([IdForm], [IdCountry], [IdCustomer], [IdStatus], [DateOfEntry]) VALUES (12, 2, 13, 1, CAST(N'2021-11-10T23:55:52.457' AS DateTime))
SET IDENTITY_INSERT [dbo].[tb_formularies] OFF
SET IDENTITY_INSERT [dbo].[tb_passportDetails] ON 

INSERT [dbo].[tb_passportDetails] ([IdPassport], [IdForm], [IdTypePass], [TravelDocs], [PassportNumber], [PlaceOfIssue], [DateOfIssue], [DateOfExpiry], [IssuingAuth], [DateOfChange]) VALUES (1, 6, 3, 0, N'000099988766', N'NY', N'01/04/21', N'08/11/21', N'ISS AUTH', CAST(N'2021-11-07T03:53:15.620' AS DateTime))
SET IDENTITY_INSERT [dbo].[tb_passportDetails] OFF
SET IDENTITY_INSERT [dbo].[tb_pastJobs] ON 

INSERT [dbo].[tb_pastJobs] ([IdpJob], [IdForm], [Designation], [Depto], [DateStart], [DateFinish], [Duties], [Address], [Phone], [DescAddContr], [BitApplyVisaThird], [Name]) VALUES (1, 6, N'Designtation testing', N'depto testing', N'01/02/10', N'04/09/20', N'Duties for jobs', N'street boulevard', N'8123818282', N'testing docs', 1, N'ACSOLTEC1')
SET IDENTITY_INSERT [dbo].[tb_pastJobs] OFF
SET IDENTITY_INSERT [dbo].[tb_personalData] ON 

SET IDENTITY_INSERT [dbo].[tb_personalData] OFF
SET IDENTITY_INSERT [dbo].[tb_sponsors] ON 

INSERT [dbo].[tb_sponsors] ([IdSponsor], [IdConctact], [Name], [Address], [TelHome], [TelWork], [City], [ZipCode], [TelCell], [CodReg]) VALUES (35, 1, N'SPON 1', N'MUMBAI 233', N'8123888180', N'8123888190', N'NEW YORK', N'66632', N'8123888140', N'A')
INSERT [dbo].[tb_sponsors] ([IdSponsor], [IdConctact], [Name], [Address], [TelHome], [TelWork], [City], [ZipCode], [TelCell], [CodReg]) VALUES (36, 1, N'SPON 2', N'TRAVEL IN Out', N'8123888110', N'8123888110', N'CANCUN', N'62626', N'8123888110', N'B')
SET IDENTITY_INSERT [dbo].[tb_sponsors] OFF
SET IDENTITY_INSERT [dbo].[tb_status_forms] ON 

INSERT [dbo].[tb_status_forms] ([IdStatus], [Description], [BitActive]) VALUES (1, N'PRE-CAPTURE', 1)
INSERT [dbo].[tb_status_forms] ([IdStatus], [Description], [BitActive]) VALUES (2, N'CAPTURED', 1)
INSERT [dbo].[tb_status_forms] ([IdStatus], [Description], [BitActive]) VALUES (3, N'CANCELED', 1)
SET IDENTITY_INSERT [dbo].[tb_status_forms] OFF
SET IDENTITY_INSERT [dbo].[tb_travel_his_visited_pk] ON 

INSERT [dbo].[tb_travel_his_visited_pk] ([IdTravelDetail], [IdForm], [DateTravel], [Address], [Purpose], [Duration], [BitVisPakistan], [BitVisCountries]) VALUES (1, 6, N'02/01/2020', N'ashkbare', N'tourist', N'1 week', 1, 0)
INSERT [dbo].[tb_travel_his_visited_pk] ([IdTravelDetail], [IdForm], [DateTravel], [Address], [Purpose], [Duration], [BitVisPakistan], [BitVisCountries]) VALUES (2, 6, N'01/01/2019', N'cancun mexico', N'paradise trip', N'2 weeks', 0, 1)
SET IDENTITY_INSERT [dbo].[tb_travel_his_visited_pk] OFF
SET IDENTITY_INSERT [dbo].[tb_travel_history] ON 

INSERT [dbo].[tb_travel_history] ([IdTravel], [IdForm], [BitVisPakistan], [BitVisCountries], [BitVisRefused], [BitRefusedPakistan], [DescRefused], [DateTravel], [Address], [Purpose], [Duration], [BitRemoveCountry], [BitConviction]) VALUES (3, 6, 1, NULL, NULL, NULL, NULL, N'10/10/2021', N'BRUSELSS', N'PARADISE', N'1 WEEK', NULL, NULL)
INSERT [dbo].[tb_travel_history] ([IdTravel], [IdForm], [BitVisPakistan], [BitVisCountries], [BitVisRefused], [BitRefusedPakistan], [DescRefused], [DateTravel], [Address], [Purpose], [Duration], [BitRemoveCountry], [BitConviction]) VALUES (4, 6, NULL, 1, NULL, NULL, NULL, N'03/10/2021', N'AHSKBAR', N'TOURIST', N'2 WEEKS', NULL, NULL)
INSERT [dbo].[tb_travel_history] ([IdTravel], [IdForm], [BitVisPakistan], [BitVisCountries], [BitVisRefused], [BitRefusedPakistan], [DescRefused], [DateTravel], [Address], [Purpose], [Duration], [BitRemoveCountry], [BitConviction]) VALUES (5, 6, NULL, 1, NULL, NULL, NULL, N'04/11/2021', N'ESTHRI', N'BUSSINES', N'3 WEEKS', NULL, NULL)
SET IDENTITY_INSERT [dbo].[tb_travel_history] OFF
SET IDENTITY_INSERT [dbo].[tb_travel_history_data] ON 

INSERT [dbo].[tb_travel_history_data] ([IdTravel], [IdForm], [BitRefused], [BitRefusedPakistan], [BitRemoveCountry], [BitConviction], [DetailRefusal]) VALUES (1, 6, 1, 1, 1, 1, N'ONLY THAT')
SET IDENTITY_INSERT [dbo].[tb_travel_history_data] OFF
SET IDENTITY_INSERT [dbo].[tb_types_passports] ON 

INSERT [dbo].[tb_types_passports] ([IdTypePass], [TypePass], [BitActive]) VALUES (1, N'Diplomatic', 1)
INSERT [dbo].[tb_types_passports] ([IdTypePass], [TypePass], [BitActive]) VALUES (2, N'Official / Service', 1)
INSERT [dbo].[tb_types_passports] ([IdTypePass], [TypePass], [BitActive]) VALUES (3, N'Ordinary', 1)
SET IDENTITY_INSERT [dbo].[tb_types_passports] OFF
ALTER TABLE [dbo].[tb_acompanying_family]  WITH CHECK ADD FOREIGN KEY([IdFam])
REFERENCES [dbo].[tb_family_details] ([IdFam])
GO
ALTER TABLE [dbo].[tb_bank_family]  WITH CHECK ADD FOREIGN KEY([IdFam])
REFERENCES [dbo].[tb_family_details] ([IdFam])
GO
ALTER TABLE [dbo].[tb_childrens_familiy]  WITH CHECK ADD FOREIGN KEY([IdFam])
REFERENCES [dbo].[tb_family_details] ([IdFam])
GO
ALTER TABLE [dbo].[tb_conctactDetails]  WITH CHECK ADD FOREIGN KEY([IdForm])
REFERENCES [dbo].[tb_formularies] ([IdForm])
GO
ALTER TABLE [dbo].[tb_conctactDetails]  WITH CHECK ADD FOREIGN KEY([IdCatCountry])
REFERENCES [dbo].[tb_cat_countries] ([IdCatCountry])
GO
ALTER TABLE [dbo].[tb_convictions_travel]  WITH CHECK ADD FOREIGN KEY([IdCatCountry])
REFERENCES [dbo].[tb_cat_countries] ([IdCatCountry])
GO
ALTER TABLE [dbo].[tb_customersAVS]  WITH NOCHECK ADD FOREIGN KEY([IdCountry])
REFERENCES [dbo].[tb_countries] ([IdCountry])
GO
ALTER TABLE [dbo].[tb_deported_travel]  WITH CHECK ADD FOREIGN KEY([IdCatCountry])
REFERENCES [dbo].[tb_cat_countries] ([IdCatCountry])
GO
ALTER TABLE [dbo].[tb_family_details]  WITH CHECK ADD FOREIGN KEY([IdForm])
REFERENCES [dbo].[tb_formularies] ([IdForm])
GO
ALTER TABLE [dbo].[tb_formularies]  WITH CHECK ADD FOREIGN KEY([IdCountry])
REFERENCES [dbo].[tb_countries] ([IdCountry])
GO
ALTER TABLE [dbo].[tb_formularies]  WITH CHECK ADD FOREIGN KEY([IdCustomer])
REFERENCES [dbo].[tb_customersAVS] ([IdCustomer])
GO
ALTER TABLE [dbo].[tb_formularies]  WITH CHECK ADD FOREIGN KEY([IdStatus])
REFERENCES [dbo].[tb_status_forms] ([IdStatus])
GO
ALTER TABLE [dbo].[tb_passportDetails]  WITH CHECK ADD FOREIGN KEY([IdForm])
REFERENCES [dbo].[tb_formularies] ([IdForm])
GO
ALTER TABLE [dbo].[tb_pastJobs]  WITH CHECK ADD FOREIGN KEY([IdForm])
REFERENCES [dbo].[tb_formularies] ([IdForm])
GO
ALTER TABLE [dbo].[tb_personalData]  WITH CHECK ADD FOREIGN KEY([IdCatCountry])
REFERENCES [dbo].[tb_cat_countries] ([IdCatCountry])
GO
ALTER TABLE [dbo].[tb_personalData]  WITH CHECK ADD FOREIGN KEY([IdForm])
REFERENCES [dbo].[tb_formularies] ([IdForm])
GO
ALTER TABLE [dbo].[tb_sponsors]  WITH CHECK ADD FOREIGN KEY([IdConctact])
REFERENCES [dbo].[tb_conctactDetails] ([IdConctact])
GO
ALTER TABLE [dbo].[tb_travel_history]  WITH CHECK ADD FOREIGN KEY([IdForm])
REFERENCES [dbo].[tb_formularies] ([IdForm])
GO
ALTER TABLE [dbo].[tb_Url_activation]  WITH CHECK ADD FOREIGN KEY([IdCustomer])
REFERENCES [dbo].[tb_customersAVS] ([IdCustomer])
GO
ALTER TABLE [dbo].[tb_users]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[tb_roles] ([IdRol])
GO
/****** Object:  StoredProcedure [dbo].[sp_insertCustomer]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_insertCustomer] 
	@IdCountry	INT,
	@Mail		VARCHAR(100),
	@Pass		VARCHAR(200),
	@Msje		VARCHAR(100) OUT

AS
BEGIN
	
	DECLARE 
		@msjeOut VARCHAR(100)
		,@IdCustomer INT

	SET NOCOUNT ON;

	INSERT INTO tb_customersAVS
	(
		IdCountry
		,RegisteredMail
		,Pass
		,Seed
		,DateOfEntry
		,DateValidity
	)
	VALUES
	(
		@IdCountry
		,@Mail
		,@Pass
		,'customerseed'
		,GETDATE()
		,DATEADD(YEAR,1, GETDATE())
	)

SET @IdCustomer = @@IDENTITY
-- ---------------------------------------
-- Created form
-- ---------------------------------------
	INSERT INTO tb_formularies
	(
		IdCountry
		,IdCustomer
		,IdStatus
		,DateOfEntry
	)
	VALUES
	(
		@IdCountry
		,@IdCustomer
		,1 --PRE-CAPTURE
		,GETDATE()
	)

	IF(@@ROWCOUNT >	1)
		BEGIN
		
			SELECT @msjeOut = 'OK'
			SET @Msje = @msjeOut

		END--END IF


END

GO
/****** Object:  StoredProcedure [dbo].[sp_pk_SaveApplicantsDetails]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		ERICK MENDOZA
-- Create date: 06/11/2021
-- Description:	Insert Applicant's details for PAKISTAN Form
-- =============================================
CREATE PROCEDURE [dbo].[sp_pk_SaveApplicantsDetails] 
	@IdForm			INT,
	@Name			VARCHAR(100),
	@MidName		VARCHAR(100),
	@LasName		VARCHAR(100),
	@DateBirth		VARCHAR(10),
	@CityBirth		VARCHAR(100),
	@IdCountry		INT,
	@BitSex			BIT,
	@BitMarital		BIT,
	@BloodGroup		VARCHAR(100),
	@IdMark			VARCHAR(50),
	@NativeLan		VARCHAR(50),
	@Religion		VARCHAR(50),
	@NatPresent		VARCHAR(50),
	@NatPrevious	VARCHAR(50),
	@NatDual		VARCHAR(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DECLARE
	@ConterForm INT,
	@SaveData	VARCHAR(3)

	

	SELECT 
		@ConterForm = COUNT(1)
	FROM
		tb_personalData
	WHERE
		IdForm = @IdForm


IF @ConterForm = 0
	BEGIN

		INSERT INTO tb_personalData
		(
			Name
			,MiddleName
			,LastName
			,DateBirth
			,CityBirth
			,IdCatCountry
			,TypeSex
			,MaritalStatus
			,BloodGroup
			,IdMark
			,NativeLanguage
			,Religion
			,NationPresent
			,NationPrevious
			,NationDual
		)
		VALUES
		(
			@Name
			,@MidName
			,@LasName
			,@DateBirth
			,@CityBirth
			,@IdCountry
			,@BitSex
			,@BitMarital
			,@BloodGroup
			,@IdMark
			,@NativeLan
			,@Religion
			,@NatPresent
			,@NatPrevious
			,@NatDual
		)


		IF @@ROWCOUNT > 1
			BEGIN

				SET @SaveData = 'OK'

			END--END IF



	END--END IF
ELSE
	BEGIN

		UPDATE
			tb_personalData
		SET
			Name			= @Name
			,MiddleName		= @MidName
			,LastName		= @LasName
			,DateBirth		= @DateBirth
			,CityBirth		= @CityBirth
			,IdCatCountry	= @IdCountry
			,TypeSex		= @BitSex
			,MaritalStatus	= @BitMarital
			,BloodGroup		= @BloodGroup
			,IdMark			= @IdMark
			,NativeLanguage	= @NativeLan
			,Religion		= @Religion
			,NationPresent	= @NatPresent
			,NationPrevious = @NatPrevious
			,NationDual		= @NatDual
		WHERE
			IdForm = @IdForm


		IF @@ROWCOUNT > 1
			BEGIN

				SET @SaveData = 'OK'

			END--END IF


	END	



END
GO
/****** Object:  StoredProcedure [dbo].[sp_pk_SaveContactDetails]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_pk_SaveContactDetails]
	@IdForm			INT
	,@IdCountry		INT
	,@TelHome		VARCHAR(20)
	,@TelWork		VARCHAR(20)
	,@TelCell		VARCHAR(20)
	,@Email			VARCHAR(50)
	,@TelHomeb		VARCHAR(20)
	,@TelWorkb		VARCHAR(20)
	,@TelCellb		VARCHAR(20)
	,@InPaikistan	VARCHAR(200)
	,@BitSponsor	BIT
	,@NameSponsor	VARCHAR(50)
	,@AddrSponsor	VARCHAR(50)
	,@TelHomeSpon	VARCHAR(20)
	,@TelWorkSpon	VARCHAR(20)
	,@TelCellSpon	VARCHAR(20)
	,@CitySpon		VARCHAR(100)
	,@ZipCodeSpon	VARCHAR(100)
	,@BitSponsorB	BIT
	,@NameSponsorB	VARCHAR(50)
	,@AddrSponsorB	VARCHAR(50)
	,@TelHomeSponB	VARCHAR(20)
	,@TelWorkSponB	VARCHAR(20)
	,@TelCellSponB	VARCHAR(20)
	,@CitySponB		VARCHAR(100)
	,@ZipCodeSponB	VARCHAR(100)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DECLARE
	@ConterForm		INT,
	@SaveData		VARCHAR(3),
	@idContact		INT,
	@bitSponsorUp	BIT,
	@ConterSpon		INT,
	@IdContactSpon	INT,
	@IdContactSponB INT,
	@IdSponsor		INT

	
IF(@IdForm IS NOT NULL)
	BEGIN


		SELECT 
			@ConterForm = COUNT(1)
		FROM
			tb_conctactDetails
		WHERE
			IdForm = @IdForm

		
		IF @ConterForm = 0
			BEGIN

				INSERT INTO tb_conctactDetails
				(
					IdForm
					,IdCatCountry
					,TelHome
					,TelWork
					,TelCell
					,Email
					,TelHomeB
					,TelWorkB
					,TelCellB
					,InPakistan
					,BitSponsor
				)
				VALUES
				(
					@IdForm
					,@IdCountry
					,@TelHome
					,@TelWork
					,@TelCell
					,@Email
					,@TelHomeb
					,@TelWorkb
					,@TelCellb
					,@InPaikistan
					,@BitSponsor
				)


				IF @@ROWCOUNT > 1
				BEGIN

					
					SET @idContact = @@IDENTITY

					IF(@BitSponsor = 1)
						BEGIN

							INSERT INTO tb_sponsors
							(
								IdConctact
								,Name
								,Address
								,TelHome
								,TelWork
								,TelCell
								,City
								,ZipCode
								,CodReg
							)
							VALUES
							(
								@idContact
								,@NameSponsor
								,@AddrSponsor
								,@TelHomeSpon
								,@TelWorkSpon
								,@TelCellSpon
								,@CitySpon
								,@ZipCodeSpon
								,'A'
							)


							--if any have second sponsor

							IF (@BitSponsorB = 1)
								BEGIN 


									INSERT INTO tb_sponsors
									(
										IdConctact
										,Name
										,Address
										,TelHome
										,TelWork
										,TelCell
										,City
										,ZipCode
										,CodReg
									)
									VALUES
									(
										@idContact
										,@NameSponsorB
										,@AddrSponsorB
										,@TelHomeSponB
										,@TelWorkSponB
										,@TelCellSponB
										,@CitySponB
										,@ZipCodeSponB
										,'B'
									)

								END--END IF

						END--END IF

					SET @SaveData = 'OK'

				END--END IF


			END--END IF
		ELSE
			BEGIN

				UPDATE 
					tb_conctactDetails
				SET
					IdCatCountry		= @IdCountry
					,TelHome			= @TelHome
					,TelWork			= @TelWork
					,TelCell			= @TelCell
					,Email				= @Email
					,TelHomeB			= @TelHomeb
					,TelWorkB			= @TelWorkb
					,TelCellB			= @TelCellb
					,InPakistan			= @InPaikistan
					,BitSponsor			= @BitSponsor
				WHERE
					IdForm = @IdForm


				SELECT 
					@bitSponsorUp = BitSponsor,
					@IdContactSpon = IdConctact
				FROM 
					tb_conctactDetails
				WHERE
					IdForm = @IdForm


				IF(@bitSponsorUp = 1)
					BEGIN 
						SELECT 
							@ConterSpon = COUNT(1)
						FROM
							tb_sponsors
						WHERE
							IdConctact = @IdContactSpon


						IF(@ConterSpon = 0)
							BEGIN

								INSERT INTO tb_sponsors
								(
									IdConctact
									,Name
									,Address
									,TelHome
									,TelWork
									,TelCell
									,City
									,ZipCode
									,CodReg
								)
								VALUES
								(
									@IdContactSpon
									,@NameSponsor
									,@AddrSponsor
									,@TelHomeSpon
									,@TelWorkSpon
									,@TelCellSpon
									,@CitySpon
									,@ZipCodeSpon
									,'A'
								)

							--if any have second sponsor

							IF  (@BitSponsorB = 1)
								BEGIN 

									INSERT INTO tb_sponsors
									(
										IdConctact
										,Name
										,Address
										,TelHome
										,TelWork
										,TelCell
										,City
										,ZipCode
										,CodReg
									)
									VALUES
									(
										@IdContactSpon
										,@NameSponsorB
										,@AddrSponsorB
										,@TelHomeSponB
										,@TelWorkSponB
										,@TelCellSponB
										,@CitySponB
										,@ZipCodeSponB
										,'B'
									)

								END--END IF


							END--END IF

						ELSE
							BEGIN


								SELECT 
									@IdSponsor = IdSponsor
								FROM
									tb_sponsors
								WHERE
									IdConctact = @IdContactSpon
								AND
									CodReg		= 'A'

								UPDATE
									tb_sponsors
								SET	
									Name		= @NameSponsor
									,Address	= @AddrSponsor
									,TelHome	= @TelHomeSpon
									,TelWork	= @TelWorkSpon
									,TelCell	= @TelCell
									,City		= @CitySpon
									,ZipCode	= @ZipCodeSpon
								WHERE
									IdSponsor	= @IdSponsor
								AND
									CodReg		= 'A'

					
						IF (@BitSponsorB = 1)
							BEGIN 

								SELECT 
									@ConterSpon = COUNT(1)
								FROM
									tb_sponsors
								WHERE
									IdConctact = @IdContactSpon
								AND
									CodReg = 'B'

								IF (@ConterSpon = 0)
									BEGIN 

										INSERT INTO tb_sponsors
										(
											IdConctact
											,Name
											,Address
											,TelHome
											,TelWork
											,TelCell
											,City
											,ZipCode
											,CodReg
										)
										VALUES
										(
											@IdContactSpon
											,@NameSponsorB
											,@AddrSponsorB
											,@TelHomeSponB
											,@TelWorkSponB
											,@TelCellSponB
											,@CitySponB
											,@ZipCodeSponB
											,'B'
										)

									END--END IF


								SELECT 
									@IdSponsor = IdSponsor
								FROM
									tb_sponsors
								WHERE
									IdConctact = @IdContactSpon
								AND
									CodReg		= 'B'

								UPDATE
									tb_sponsors
								SET	
									Name		= @NameSponsorB
									,Address	= @AddrSponsorB
									,TelHome	= @TelHomeSponB
									,TelWork	= @TelWorkSponB
									,TelCell	= @TelCellSponB
									,City		= @CitySponB
									,ZipCode	= @ZipCodeSponB
								WHERE
									IdSponsor = @IdSponsor
								AND
									CodReg		= 'B'
								

							END--END IF SPONSOR B

							END--END ELSE

					END--END IF
				
			SET @SaveData = 'OK'	

			END--END ELSE


	END--END IF



END

GO
/****** Object:  StoredProcedure [dbo].[sp_pk_SaveFamilyBank]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		ERICK MENDOZA
-- Create date: 09/11/2021
-- Description:	Insert data account bank for PAKISTAN form
-- =============================================
CREATE PROCEDURE [dbo].[sp_pk_SaveFamilyBank] 
	@IdForm			INT 
	,@nameBank		VARCHAR(50)
	,@branch		VARCHAR(10)
	,@acNumber		VARCHAR(50)
	,@address		VARCHAR(100)
	,@veriefer		VARCHAR(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DECLARE
	@ConterForm INT,
	@ConterFam INT,
	@SaveData	VARCHAR(3),
	@idFam		INT


	SELECT 
		@ConterFam = COUNT(1)
	FROM
		tb_family_details TFD
	JOIN
		tb_bank_family TBF
	ON TBF.IdFam = TFD.IdFam
	WHERE
		TFD.IdForm = @IdForm

	IF(@ConterFam = 0)
		BEGIN

			SELECT 
				@idFam = TFD.IdFam
			FROM
				tb_family_details TFD
			JOIN
				tb_bank_family TBF
			ON TBF.IdFam = TFD.IdFam
			WHERE
				TFD.IdForm = @IdForm

			IF(@idFam IS NULL)
				BEGIN

					SELECT 
						@idFam = TFD.IdFam
					FROM
						tb_family_details TFD
					WHERE
						TFD.IdForm = @IdForm

				END--END IF
			

			INSERT INTO  tb_bank_family
			(
				IdFam
				,NameBank
				,Branch
				,ACNumber
				,Address
				,VerifierDetails 
			)
			VALUES
			(
				@idFam
				,@nameBank
				,@branch
				,@acNumber
				,@address
				,@veriefer
			)

			IF @@ROWCOUNT > 1
			BEGIN

				SET @SaveData = 'OK'

			END--END IF

		END--END IF
	ELSE
		BEGIN

			UPDATE TBF
			SET
				NameBank		= @nameBank
				,Branch			= @branch
				,ACNumber		= @acNumber
				,Address		= @address
				,VerifierDetails = @veriefer
			FROM
				tb_family_details TFD
			JOIN
				tb_bank_family TBF
			ON TBF.IdFam = TFD.IdFam
			WHERE
				TFD.IdForm = @IdForm


			IF @@ROWCOUNT > 1
			BEGIN

				SET @SaveData = 'OK'

			END--END IF

		END--END ELSE
	

	SELECT 
		@SaveData


END
GO
/****** Object:  StoredProcedure [dbo].[sp_pk_SaveFamilyDetails]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		ERICK MENDOZA	
-- Create date: 08/11/2021
-- Description:	Insert data of familiy PAKISTAN form
-- =============================================
CREATE PROCEDURE [dbo].[sp_pk_SaveFamilyDetails]
	@IdForm			INT
	,@NMother		VARCHAR(50)
	,@NPather		VARCHAR(50)
	,@IdNatMother	INT
	,@IdNatPather	INT
	,@SpouseName	VARCHAR(50)
	,@IdNatSpouse	INT
	,@DateBirth		VARCHAR(10)
	,@PlaceBirth	VARCHAR(100)
	,@Profesion		VARCHAR(100)
	,@BitChildrens	BIT
	,@NameEmpSpouse	VARCHAR(100)
	,@AddressEmoSpo	VARCHAR(100)
	,@TelEmpSpouse	VARCHAR(10)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
DECLARE
	@ConterForm INT,
	@SaveData	VARCHAR(3)

	

	SELECT 
		@ConterForm = COUNT(1)
	FROM
		tb_family_details
	WHERE
		IdForm = @IdForm


IF @ConterForm = 0
	BEGIN


		INSERT INTO tb_family_details
		(
			IdForm
			,NMother
			,NPather
			,IdNatMother
			,IdNatFather
			,SpouseName
			,IdNatSpouse
			,DateBirth
			,PlaceBirth
			,Profesion
			,BitChildrens
			,NameEmployerSpouse
			,AddressEmployerSpouse
			,TelEmployerSpouse
		)
		VALUES
		(
			@IdForm
			,@NMother
			,@NPather
			,@IdNatMother
			,@IdNatPather
			,@SpouseName
			,@IdNatSpouse
			,@DateBirth
			,@PlaceBirth
			,@Profesion
			,@BitChildrens
			,@NameEmpSpouse
			,@AddressEmoSpo
			,@TelEmpSpouse
		)

		IF @@ROWCOUNT > 1
			BEGIN

				SET @SaveData = 'OK'

			END--END IF


	END--END IF
ELSE
	BEGIN

		UPDATE
			tb_family_details
		SET
			NMother						= @NMother
			,NPather					= @NPather
			,IdNatMother				= @IdNatMother
			,IdNatFather				= @IdNatPather
			,SpouseName					= @SpouseName
			,IdNatSpouse				= @IdNatSpouse
			,DateBirth					= @DateBirth
			,PlaceBirth					= @PlaceBirth
			,Profesion					= @Profesion
			,BitChildrens				= @BitChildrens
			,NameEmployerSpouse			= @NameEmpSpouse
			,AddressEmployerSpouse		= @AddressEmoSpo
			,TelEmployerSpouse			= @TelEmpSpouse
		WHERE
			IdForm = @IdForm

		IF @@ROWCOUNT > 1
			BEGIN

				SET @SaveData = 'OK'

			END--END IF

	END--END ELSE


	SELECT 
		@SaveData


END
GO
/****** Object:  StoredProcedure [dbo].[sp_pk_SavePassportDetails]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Erick Mendoza
-- Create date: 07/11/2021
-- Description:	Insert passport details for PAKISTAN form
-- =============================================
CREATE PROCEDURE [dbo].[sp_pk_SavePassportDetails]
	@IdForm				INT
	,@IdTypePass		INT
	,@BitTravelDocs		BIT
	,@PassportNum		VARCHAR(100)
	,@PlaceIssue		VARCHAR(100)
	,@DateIssue			VARCHAR(10)
	,@DateExpiry		VARCHAR(10)
	,@IssuingAuth		VARCHAR(100)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DECLARE
	@ConterForm INT,
	@SaveData	VARCHAR(3)

	

	SELECT 
		@ConterForm = COUNT(1)
	FROM
		tb_passportDetails
	WHERE
		IdForm = @IdForm


	IF @ConterForm = 0
	BEGIN

		INSERT INTO tb_passportDetails
		(
			IdForm
			,IdTypePass
			,TravelDocs
			,PassportNumber
			,PlaceOfIssue
			,DateOfIssue
			,DateOfExpiry
			,IssuingAuth
			,DateOfChange
		)
		VALUES
		(
			@IdForm
			,@IdTypePass
			,@BitTravelDocs
			,@PassportNum
			,@PlaceIssue
			,@DateIssue
			,@DateExpiry
			,@IssuingAuth
			,GETDATE()
		)

		IF @@ROWCOUNT > 1
			BEGIN

				SET @SaveData = 'OK'

			END--END IF

	END
ELSE
	BEGIN

		UPDATE
			tb_passportDetails
		SET
			IdTypePass		= @IdTypePass
			,TravelDocs		= @BitTravelDocs
			,PassportNumber = @PassportNum
			,PlaceOfIssue	= @PlaceIssue
			,DateOfIssue	= @DateIssue
			,DateOfExpiry	= @DateExpiry
			,IssuingAuth	= @IssuingAuth
		WHERE
			IdForm	= @IdForm

		IF @@ROWCOUNT > 1
			BEGIN

				SET @SaveData = 'OK'

			END--END IF


	END--END IF



END
GO
/****** Object:  StoredProcedure [dbo].[sp_pk_SavePastJobs]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		ERICK MENDOZA
-- Create date: 07/11/2021
-- Description:	INSERT past jobs for PAKISTAN form
-- =============================================
CREATE PROCEDURE [dbo].[sp_pk_SavePastJobs] 
	@IdForm				INT
	,@Designation		VARCHAR(50)
	,@Depto				VARCHAR(50)
	,@DateStart			VARCHAR(20)
	,@DateFinish		VARCHAR(20)
	,@Duties			VARCHAR(100)
	,@Address			VARCHAR(100)
	,@Phone				VARCHAR(20)
	,@Descp				VARCHAR(200)
	,@BitApply			BIT
	,@Name				VARCHAR(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DECLARE
	@ConterForm INT,
	@SaveData	VARCHAR(3)


	SELECT 
		@ConterForm = COUNT(1)
	FROM
		tb_pastJobs
	WHERE
		IdForm = @IdForm


	IF @ConterForm = 0
		BEGIN

			INSERT INTO tb_pastJobs
			(
				IdForm
				,Designation
				,Depto
				,DateStart
				,DateFinish
				,Duties
				,Address
				,Phone
				,DescAddContr
				,BitApplyVisaThird
				,Name
			)
			VALUES
			(
				@IdForm
				,@Designation
				,@Depto
				,@DateStart
				,@DateFinish
				,@Duties
				,@Address
				,@Phone
				,@Descp
				,@BitApply
				,@Name
			)

			IF @@ROWCOUNT > 1
			BEGIN

				SET @SaveData = 'OK'

			END--END IF

		END--END IF
	ELSE
		BEGIN

			UPDATE
				tb_pastJobs
			SET
				IdForm					= @IdForm
				,Designation			= @Designation
				,Depto					= @Depto
				,DateStart				= @DateStart
				,DateFinish				= @DateFinish
				,Duties					= @Duties
				,Address				= @Address
				,Phone					= @Phone
				,DescAddContr			= @Descp
				,BitApplyVisaThird		= @BitApply
				,Name					= @Name
			WHERE
				IdForm = @IdForm

			IF @@ROWCOUNT > 1
			BEGIN

				SET @SaveData = 'OK'

			END--END IF

		END--END ELSE


SELECT
	@SaveData


END
GO
/****** Object:  StoredProcedure [dbo].[sp_pk_SavePersonDetails]    Script Date: 11/11/2021 12:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Erick Mendoza
-- Create date: 04/11/2021
-- Description:	Save data Person details of PAKISTAN
-- =============================================
CREATE PROCEDURE [dbo].[sp_pk_SavePersonDetails] 
	@IdForm				INT,
	@IdVisaAp			INT,
	@IdPurpose			INT,
	@DurationStay		VARCHAR(100),
	@IdVisasTime		INT,
	@IdTypeVisa			INT,
	@IdPortsIn			INT,
	@IdPortsOut			INT,
	@PVPakistan			VARCHAR(200),
	@DOfProfesion		VARCHAR(200)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
DECLARE
	@ConterForm INT,
	@SaveData	VARCHAR(3)

	SET NOCOUNT ON;
	

	SELECT 
		@ConterForm = COUNT(1)
	FROM
		tb_personalData
	WHERE
		IdForm = @IdForm

	IF @ConterForm = 0
		BEGIN

			INSERT INTO tb_personalData
				(
					IdForm
					,IdVisaAp
					,IdPurpose
					,DurationStay
					,IdVisasTime
					,IdTypeVisa
					,IdPortsIn
					,IdPortsOut
					,PVPakistan
					,DetailOfProfesion
					,DateOfChange
				)
				VALUES
				(
					@IdForm
					,@IdVisaAp
					,@IdPurpose
					,@DurationStay
					,@IdVisasTime
					,@IdTypeVisa
					,@IdPortsIn
					,@IdPortsOut
					,@PVPakistan
					,@DOfProfesion
					,GETDATE()
				)

			IF @@ROWCOUNT > 1
				BEGIN

					SET @SaveData = 'OK'

				END--END IF

		END--END IF
	ELSE
		BEGIN

			UPDATE
				tb_personalData
			SET
				IdVisaAp			= @IdVisaAp
				,IdPurpose			= @IdPurpose
				,DurationStay		= @DurationStay
				,IdVisasTime		= @IdVisasTime
				,IdTypeVisa			= @IdTypeVisa
				,IdPortsIn			= @IdPortsIn
				,IdPortsOut			= @IdPortsOut
				,PVPakistan			= @PVPakistan
				,DetailOfProfesion	= @DOfProfesion
				,DateOfChange		= GETDATE()
			WHERE
				IdForm = @IdForm


			IF @@ROWCOUNT > 1
				BEGIN

					SET @SaveData = 'OK'

				END--END IF

		END

	
	SELECT @SaveData


END
GO
